<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Loki</title>
    <script>var slider = new Slider("#ex11", {
	step: 20000,
	min: 0,
	max: 200000
});</script>
</head>
<body>


<div class="d-flex align-items-center flex-column justify-content-center h-100" id="header">
    <h1 class="display-4">Only for trustful people ... <u>{{localUserName}}</u> !</h1>
    <form>
        <div class="form-group">
            <input class="form-control form-control-lg" placeholder="User" type="text" ng-model="username">
        </div>
        <div class="form-group">
            <input class="form-control form-control-lg" placeholder="Password ?" type="password" ng-model="pass">
        </div>

        <div class="ng-hide" ng-show="username !== ''">
            <div class="form-group">
                <button class="btn btn-outline-warning btn-lg btn-block" ng-click="loginToServer(username, pass)">
                    Log in
                </button>
            </div>
            <div class="form-group">
                <button class="btn btn-outline-warning btn-lg btn-block" ng-click="createUser(username, complexity)">Create</button>
            </div>
            <label for="customRange1">Unlock complexity : {{complexity}}</label>
            <input type="range" class="custom-range" id="customRange1" min="0" max="1" step="0.1" ng-model="complexity">
        </div>
    </form>
</div>

<div class="container">

    <br>

    <div class="ng-hide" ng-show="credentials.length > 0 || currentUserExists">
        <form class="flex-column">
            <div class="form-row">
                <div class="col-5">
                    <input type="text" class="form-control" placeholder="Description" ng-model="description">
                </div>
                <div class="col-4">
                    <input type="text" class="form-control" placeholder="Login" ng-model="login">
                </div>
                <div class="col-2">
                    <input type="text" class="form-control" placeholder="Password" ng-model="password">
                </div>
                <span style="font-size: 30px; color: Mediumslateblue;">
                    <i type="button" class="far fa-plus-square fa-clickable" ng-click="addCredential(username)"></i>
                </span>
            </div>
        </form>


        <br>

        <table class="table table-striped table-editable table-dark">
            <thead>
            <tr>
                <th scope="col">Description</th>
                <th scope="col"></th>
                <th scope="col">Login</th>
                <th scope="col"></th>
                <th scope="col">Password</th>
                <th scope="col"></th>
                <th scope="col">Action</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="cred in credentials">
                <td>
                    <div>{{cred.description}}</div>
                </td>
                <td>
                    <input class="ng-hide" ng-show="descriptionHidden" type="text" ng-model="newDescription">
                    <i class="far fa-edit fa-clickable" ng-click="descriptionHidden = !descriptionHidden"></i>
                </td>
                <td>
                    <div>{{cred.login}}</div>
                </td>
                <td>
                    <input class="ng-hide" ng-show="loginHidden" type="text" ng-model="newLogin">
                    <i class="far fa-edit fa-clickable" ng-click="loginHidden = !loginHidden"></i>
                </td>
                <td>
                    <div>{{cred.password}}</div>
                </td>
                <td>
                    <input class="ng-hide" ng-show="passwordHidden" type="text" ng-model="newPassword">
                    <i class="far fa-edit fa-clickable" ng-click="passwordHidden = !passwordHidden"></i>
                </td>

                <td>
                    <span style="color: Dodgerblue;">
                        <i class="far fa-save fa-clickable"
                           ng-click="updateCredential(cred, newDescription, newLogin, newPassword)"></i>
                    </span>
                    &emsp;
                    <span style="color: Tomato;">
                        <i class="far fa-trash-alt fa-clickable" ng-click="deleteCredential(cred)"></i>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>